* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


    --header-color: #172346;
    --main-content-color: #916D3A;
    --book-card-color: #f1e3b7;
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

div.header {
    display: flex;
    flex-direction: column;
    padding: 1em;

    background-color: var(--header-color);
    color: white;
}

div.main-content {
    background-color: var(--main-content-color);
}

div.welcomers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 2em;
}

div.book-gallery {
    padding: 3em;
}

div.book-card {
    width: 600px;
    height: 300px;

    display: grid;
    grid-template-rows: 1fr 1fr 0.25fr;
    grid-template-columns: repeat(3, 1fr);

    background-color: var(--book-card-color)
;}

img.book-cover {
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
}

div.book-info {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

div.pages-section {
    display: flex;
}

div.book-nav {
    grid-column: 3 / 4;

    display: flex;
    justify-content: end;
}