* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: solid 1px black;
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

div.header {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

div.welcomers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 2em;
}

div.book-gallery {
    padding: 3em;
}

div.book-card {
    width: 600px;
    height: 300px;

    display: grid;
    grid-template-rows: 1fr 1fr 0.25fr;
    grid-template-columns: repeat(3, 1fr);
}

img.book-cover {
    grid-row: 1 / 4;
}

div.book-info {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}